# SaltGoat 环境配置文件
MYSQL_PASSWORD='MyPass123!'
VALKEY_PASSWORD='Valkey123!'
RABBITMQ_PASSWORD='RabbitMQ123!'
WEBMIN_PASSWORD='Webmin123!'
PHPMYADMIN_PASSWORD='phpMyAdmin123!'
SSL_EMAIL='ssl@tschenfeng.com'
TIMEZONE='America/Los_Angeles'
LANGUAGE='en_US.UTF-8'
