# SaltGoat 环境配置文件
# 复制此文件为 .env 并修改密码

# 数据库密码
MYSQL_PASSWORD='SaltGoat2024!'
VALKEY_PASSWORD='Valkey2024!'

# 服务密码
RABBITMQ_PASSWORD='RabbitMQ2024!'
WEBMIN_PASSWORD='Webmin2024!'
PHPMYADMIN_PASSWORD='phpMyAdmin2024!'

# SSL 配置
SSL_EMAIL='ssl@tschenfeng.com'

# 系统配置
TIMEZONE='America/Los_Angeles'
LANGUAGE='en_US.UTF-8'
