docker:
  npm:
    base_dir: /opt/saltgoat/docker/npm
    http_port: 8080
    https_port: 8443
    admin_port: 9181
    image: jc21/nginx-proxy-manager:2.11.3
    db_image: mariadb:10.11
    db_password: "ChangeMe!SetInSecret"
