# Magento 定时任务模板：按需复制到 pillar 或 secret 并填入真实站点
# Dropbox 根可通过 pillar saltgoat:dropbox_root 覆盖

{% set dropbox_root = salt['pillar.get']('saltgoat:dropbox_root', '/home/doge/Dropbox') %}
{% set dropbox_root = dropbox_root.rstrip('/') %}
{% macro dropbox_db(site) -%}
{{ dropbox_root }}/{{ site }}/databases
{%- endmacro %}
{% macro dropbox_restic(site) -%}
{{ dropbox_root }}/{{ site }}/restic-backups
{%- endmacro %}

magento_schedule:
  mysql_dump_jobs:
    - name: <site>mage-dump-hourly
      cron: '0 * * * *'
      database: <site>mage
      backup_dir: {{ dropbox_db('<site>') }}
      repo_owner: doge
      site: <site>
  api_watchers: []
  stats_jobs: []
  restic_jobs:
    - name: <site>-restic-daily
      cron: '40 4 * * *'
      site: <site>
      repo: {{ dropbox_restic('<site>') }}
      paths:
        - /var/www/<site>
