secrets:
  mysql_password: "ChangeMeRoot!"
  mysql_backup_password: "ChangeMeBackup!"
  valkey_password: "ChangeMeValkey!"
  rabbitmq_password: "ChangeMeRabbit!"
  webmin_password: "ChangeMeWebmin!"
  phpmyadmin_password: "ChangeMePhpMyAdmin!"
