# Dropbox service configuration (copy to salt/pillar/secret/dropbox.sls and edit values)

dropbox:
  enabled: true
  manage_unit: true
  unit_name: dropbox.service
  user: doge
  group: doge
  working_dir: /home/doge
  exec: /usr/bin/dropbox start -i
  restart: always
  restart_sec: 5s
  environment:
    LANG: en_US.UTF-8
    LC_ALL: en_US.UTF-8
  description: Dropbox headless daemon
