secrets:
  restic:
    repo: "/var/backups/restic/repos/default"
    password: "ChangeMeRestic!"
    service_user: "root"
    repo_owner: "root"
    paths:
      - /var/www/example
    tags:
      - example
